<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>

        <link rel="stylesheet" href="http://localhost:8000/static/css/style.css">
        <link rel="stylesheet" href="http://localhost:8000/static/css/bootstrap.min.css">
        <title>Lotes x Sequenciais</title>
    </head>
    <body>
    <h4> Lotes x Sequenciais</h4>
    <img src="http://localhost:8000/static/logo-padrao-min.png" alt="">
    <br>

        <form action="" method="post">
            {{   form.csrf }}
        <div class="input text">

            {{  form.sequenciais }}
        </div>

            <br>
            <div class="input submit">
                <input type="submit" class="btn btn-success btn-lg" value="Enviar" />
            </div>
        </form>
    <br>

    {% with msgs = get_flashed_messages(category_filter=["error"]) %}
    {% if msgs %}
        {%  for msg in msgs %}
        <div class="alert alert-danger">
          {{ msg }}
        </div>
        {%  endfor %}
    {% endif %}
  {% endwith %}
              {% with messages = get_flashed_messages(with_categories=true, category_filter=["success"]) %}
            {% if messages %}
                <table>
                    <tbody>
                    <tr>
                        <th>Codigo</th>
                        <th>ARM</th>
                        <th>Lote</th>
                        <th>Quantidade</th>
                        <th>Sequencial</th></tr>
                    {% for message in messages %}
                    <tr>
                        <td>{{ message[1][0] }}</td>
                        <td>{{message[1][1]}}</td>
                        <td>{{message[1][2]}}</td>
                        <td>{{message[1][3]}}</td>
                        <td>{{message[1][4]}}</td>
                    </tr>
                    {% endfor %}

                    </tbody>


                </table>
            {% endif %}
        {% endwith %}

    </body>
</html>
