form {

    margin:auto;
    text-align: center;
}

h4 {
    text-align: center;
    font-weight: 800;
}

img {
    margin:auto;
    text-align: center;
    display: block;
}


table{
    margin:auto;
    border:1px solid black;
    display: table !important;
    text-align: center;
    border: 1px solid black;
    margin-bottom: 1rem;
    border-radius: 3px;
    border-collapse: collapse;
    border-spacing: 0;
}

 tbody th{
    padding: .5rem .625rem .625rem;
}

th {
    background-color: #096067;
    color: #fff;
    border: 1px solid black;

/*thead {*/
    /*color: white;*/
    /*background-color: green;*/
    /*padding: 4px;*/
/*}*/